/*    Fonts
======================*/
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

i {
font-family: fontawesome !important;
}

@font-face {

font-family: "euroFurenceItalic";

src: url("../fonts/eurofurenceregular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

/*    Global
======================*/
body {
    margin: 0;

    color: #606060;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


/*    Conteiner
======================*/
.conteiner {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}


/*    Header
======================*/
.header {
    background-color: #292929;
    border-bottom: 6px solid #1e1e1e;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {

}

.header__logo-link {
    text-decoration: none;
}

.header__nav {

}


/*    Logo
======================*/
.logo {
    font-family: "euroFurenceItalic";
    font-size: 40px;
    color: #fff;
}

.logo--header {
    color: #292929;
}

.logo__item {
    color: #58c93a;
}

/*    Nav
======================*/
.nav {
}

.nav__list {
    display: flex;
    height: 100%;
}

.nav__item {
    height: 100%;
    display: block;
}

.nav__link {
    padding: 44px 40px;

    border-left: 1px solid #1e1e1e;

    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.nav__item:nth-child(4) .nav__link {
    border-right: 1px solid #1e1e1e;
}

.nav__link:hover {
    border-bottom: 6px solid #58c93a;
    color: #58c93a;
}


/*    Main
======================*/
.main {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;

    border: 1px solid #e1e0e0;
}

.main__content {
    max-width: 620px;
    width: 100%;
}

.main__section {
    margin-bottom: 85px;
}

.main__img {

}

.main__title {
    margin: 15px 0 0 20px;
}

.main__heading {
    margin-bottom: 35px;

    text-transform: uppercase;
    word-spacing: 5px;
    line-height: 1.1;
    font-size: 28px;
    font-weight: 700;
    color: #4f4e4e;
}

.main__text {
    margin-bottom: 30px;

    font-size: 16px;
    color: #606060;
    line-height: 1.4;
    font-weight: 400;
}

.main__btn {
    text-decoration: none;
    color: #c2c1c1;
    border: 2px solid #c2c2c2;
    border-radius: 20px;
    padding: 8px 16px;
}



/*    Aside
======================*/
.aside {
    width: 100%;
    max-width: 280px;
}

.aside__search-heading {
    padding: 20px;
    margin-bottom: 20px;

    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #6c6969;

    background-color: #f8f8f8;
    border-left: 3px solid #58c93a;
}

.aside__search-input {
    padding: 17px 20px;
    width: 100%;
    margin-bottom: 50px;

    font-size: 12px;
    font-weight: 400;
    color: #b9b9b9;

    border: 1px solid #e1e0e0;
    border-right: 0;

}

.aside__cat {
    margin-bottom: 50px;
}

.aside__list {
    padding-left: 20px;
}

.aside__item {

    list-style-type: none;
}

.aside__links {
    color: #41a041;
    font-size: 16px;
    line-height: 1.4;
}


/*    Navigation
======================*/
.navigation {
    display: flex;
    justify-content: space-between;

    border: 1px solid #e1e0e0;
    border-top: 0;
    border-bottom: 0;
}

.navigation__item {
    padding: 25px 25px;
}

.navigation__link {
    font-size: 18px;
    font-weight: 700;
    color: #818181;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation__item--prev::before {
    content: "";
}

.nav__item--prev {
    font-style: normal;
    margin-right: 10px;
}

.nav__item--next {
    font-style: normal;
    margin-left: 10px;
}


/*    Footer
======================*/
.footer {
    border-top: 1px solid #e1e0e0;
    background-color: #f8f8f8;

    text-align: center;
}

.footer__logo {
    width: 100%;
    margin: 75px 0 25px 0;
}

.footer__text {
    color: #a6a6a6;
    font-size: 13px;
    margin-bottom: 0;
    padding-bottom: 150px;
}

.footer__text--gray {
    font-weight: 700;
}














